.left {
	float: none;
	width: 100%;
	margin: 30px auto;
}

.right {
	float: none;
	width: 90%;
	margin: auto;
	/*text-align: center;*/
	padding-bottom: 20px;
}

.footer {
	display: none;
}

table {
	min-width: 0;
}

table.config {
	display: none;
}

tr.submit {
	display: none;
}