html, body {
	height: 99%
}

body {
	color: #000;
	background: #ABAB9A;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
}

.content {
	width: 100%;
	height: 100%;
}

.left {
	height: 99%;
	width: 50%;
	float: left;
	text-align: center;
}

.right {
	height: 99%;
	width: 50%;
	float: right;
	text-align: center;
}

footer {
	position: absolute;
	bottom: 0;
	height: 20px;
	width: 80%;
	background-color: pink;
	text-align: center;
	padding-bottom: 20px;
	line-height: 20px;
}

.iframe {
	min-width: 100px;
	width: 100%;
	height: 100%;
}

table {
	min-width: 350px;
	margin: auto;
}

table, td {
	background: #3f9296;
	border: 1px solid #44adb1;
	color: #333333;
	border-radius: 5px;
	text-align: center;
}

td {
	padding: 5px 15px 5px 15px;
}

table.config {
	margin-bottom: 5px;
}

.none {
	border: none;
}

select {
	background: #ccc;
	border: none;
	border-radius: 5px;
	width: 160px;
	padding: 5px;
	font-size: 15px;
}

.weatherButton {
	background: #ccc;
	border: 1px solid #44adb1;
	border-radius: 5px;
	width: 300px;
	padding: 5px;
	font-size: 15px;
}

.weatherButton:hover {
	background: #3f9296;
	border: 1px solid #44adb1;
	color: #ccc;
}

#forecastedWeather {
	color: #000000;
	line-height: 33px;
}

a {
	color: #ccc;
	text-decoration: none;
}

a:hover:first-child {
	color: #333333;
	text-decoration: none;
}

#info {
	font-size: 13px;
	color: #333333;
}

#city_title {
	font-size: 20px;
}

.empty {
	margin-top: 8px;
}

@media (max-height: 744px) and (max-width: 1200px) and (min-width: 1040px) {
	.left {
		width: 70%;
		margin-right: 5px;
	}

	.right {
		width: 28%;
	}

	table.weatherSelect {
		margin: auto;
		float: left;
	}

	table.weatherInfo {
		margin: auto;
		float: right;
	}


	table.config {
		margin: auto;
		float: left;
		margin-top: 10px;
	}

}